<div class="card">
  <app-button class="close-btn" (click)="closeFiltersList()">
    <app-icon icon="faClose" color="neutral-2"></app-icon>
  </app-button>

  <h2 class="title">filters</h2>

  <div class="tags">
    <app-tags
      [tags]="currentBoardActiveTags$ | async"
      [noScroll]="true"
      [showCloseButton]="true"
      (closeClicked)="removeTag($event)"
    ></app-tags>
  </div>

  <div class="tags-input-container">
    <app-input
      [h2]="false"
      placeholder="tag name"
      [isTextarea]="false"
      [options]="currentBoardTags$ | async"
      (optionClicked)="tagClicked($event)"
    ></app-input>
  </div>
</div>
