<div
  #inProgressLane
  cdkDropList
  [cdkDropListConnectedTo]="[
    'rdy2startLane',
    'backlogLane',
    'blockedLane',
    'doneLane'
  ]"
  [cdkDropListData]="tickets"
  class="list"
  (cdkDropListDropped)="drop($event)"
>
  <div class="card-container" *ngFor="let ticket of tickets">
    <app-mini-card
      [ticket]="ticket"
      [cdkDragData]="ticket"
      cdkDrag
      (ticketClicked)="openTicket(ticket)"
    ></app-mini-card>
  </div>
</div>

<app-paginator
  title="in progress"
  [pageNumber]="pageNumber$ | async"
  [totalPages]="inProgressLaneMaxPages$ | async"
></app-paginator>
