<ng-container *ngIf="(isAnyFilterOn$ | async) === false">
  <div
    #rdy2startLane
    cdkDropList
    [cdkDropListData]="tickets"
    [cdkDropListConnectedTo]="[
      'backlogLane',
      'inProgressLane',
      'blockedLane',
      'doneLane'
    ]"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="card-container" *ngFor="let ticket of tickets?.slice(0, 10)">
      <app-mini-card
        [ticket]="ticket"
        [cdkDragData]="ticket"
        cdkDrag
        (ticketClicked)="openTicket(ticket)"
      ></app-mini-card>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isAnyFilterOn$ | async">
  <div class="card-container" *ngFor="let ticket of tickets?.slice(0, 10)">
    <app-mini-card
      [ticket]="ticket"
      [noDrag]="true"
      (ticketClicked)="openTicket(ticket)"
    ></app-mini-card>
  </div>
</ng-container>

<app-paginator
  title="rdy 2 start"
  [pageNumber]="pageNumber$ | async"
  [totalPages]="rdy2StartLaneMaxPages$ | async"
></app-paginator>
