.card {
  width: 24rem;
  height: 9rem;
  background-color: var(--neutral-4);
  box-shadow: 2px 2px 5px 0 var(--neutral-3), -2px -2px 5px 0 var(--neutral-5);
  border-radius: 0.25rem;
  border-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.top-btns {
  padding: 0.5rem;
  position: absolute;
  right: 0;
}

.close-btn {
  margin-left: 1rem;
}

.check-btn {
  margin-right: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msg {
  color: var(--pink-1);
}

.bg {
  height: 100vh;
  width: 100vw;
  background-color: var(--pink-1-05);
  position: absolute;
}
