<ng-container *ngIf="isDeleteModalOpen$ | async">
  <div class="bg"></div>
  <div class="card">
    <div class="top-btns">
      <app-button class="close-btn" (buttonClicked)="closeModal()">
        <app-icon icon="faClose" color="neutral-2"></app-icon>
      </app-button>
    </div>
    <div class="card-body">
      <h2 class="msg">are you sure?</h2>
      <div>
        <app-button class="check-btn" (buttonClicked)="checkClicked()">
          <app-icon class="icon" icon="faCheck" color="pink-1"></app-icon>
        </app-button>
        <app-button (buttonClicked)="xClicked()">
          <app-icon class="icon" icon="faClose" color="pink-1"></app-icon>
        </app-button>
      </div>
    </div>
  </div>
</ng-container>
