<div class="card">
  <app-button class="close-btn" (click)="closeBoardsList()">
    <app-icon icon="faClose" color="neutral-2"></app-icon>
  </app-button>

  <h2 class="title">boards</h2>

  <div *ngFor="let board of boards" class="titles">
    <h3 class="board-title">{{ board.title }}</h3>
    <div class="icons">
      <app-icon class="icon" icon="faPencil" color="neutral-2"></app-icon>
      <app-icon
        class="icon"
        icon="faAngleRight"
        color="neutral-2"
        (click)="caretClicked(board)"
      ></app-icon>
    </div>
  </div>
</div>
