.tag {
  box-shadow: 3px 3px 1px var(--neutral-3);
  background-color: var(--pink-1-80);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.125rem;
  color: var(--neutral-5);
  font-size: 12px;
}
