<ng-container [formGroup]="form" *ngIf="!isTextarea">
  <input
    #input
    class="input"
    type="text"
    [placeholder]="placeholder"
    [value]="value"
    formControlName="control"
    (keyup)="keyUp()"
    (blur)="blurInput()"
  />

  <div class="auto-complete" *ngIf="options?.length > 0">
    <div class="option-trash" *ngFor="let option of filteredOptions | async">
      <div class="option" (click)="onOptionClick(option)">
        <span class="option-text">
          {{ option }}
        </span>
      </div>
      <app-button class="trash-btn" (buttonClicked)="deleteOption(option)">
        <app-icon icon="faTrash" color="neutral-2"></app-icon>
      </app-button>
    </div>
  </div>
</ng-container>

<textarea
  *ngIf="isTextarea"
  #textarea
  [ngClass]="h2 ? 'h2' : 'regular'"
  [ngClass]="showTextareaMarginTop ? 'textarea-margin' : ''"
  class="textarea"
  [placeholder]="placeholder"
  [value]="value"
  (blur)="blurTextarea()"
></textarea>
