.container {
  background-color: var(--neutral-4);
  height: 100vh;
  margin: none;
  padding: none;
}

.swimlanes-container {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 2rem);
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapse-search-filters {
  display: flex;
  flex-direction: row;
  width: 19rem;
  justify-content: space-between;
}

.board-title-new-board-btn {
  display: flex;
  flex-direction: row;
  width: 13rem;
  justify-content: space-between;
}

.board-title {
  color: var(--pink-1);
}

.open-ticket {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
