<div class="container">
  <div class="top-row">
    <div class="collapse-search-filters">
      <app-button>
        <app-icon icon="faAngleLeft" color="neutral-2"></app-icon>
      </app-button>
      <app-search placeholder="search"></app-search>
      <app-button>
        <app-icon icon="faFilter" color="neutral-2"></app-icon>
      </app-button>
    </div>

    <div class="board-title-new-board-btn">
      <!-- board title editable -->
      <h1 class="board-title">board title</h1>
      <app-button>
        <app-icon icon="faPlus" color="neutral-2"></app-icon>
      </app-button>
    </div>
  </div>

  <p>due today due this week due this month</p>

  <div class="open-ticket">
    <app-ticket
      *ngIf="isTicketOpen"
      [ticket]="currentTicket"
      (closeButtonClicked)="closeTicket()"
    ></app-ticket>
  </div>

  <div class="swimlanes-container" cdkDropListGroup>
    <app-swimlane title="backlog" [tickets]="getTicketsForSwimlane('backlog')">
      <app-backlog-lane
        [tickets]="backlogTickets"
        (ticketClicked)="openTicket($event)"
      >
      </app-backlog-lane>
    </app-swimlane>

    <app-swimlane
      title="rdy 2 start"
      [tickets]="getTicketsForSwimlane('rdy 2 start')"
    >
      <app-ready-to-start-lane
        [tickets]="rdy2StartTickets"
        (ticketClicked)="openTicket($event)"
      ></app-ready-to-start-lane>
    </app-swimlane>

    <app-swimlane title="blocked" [tickets]="getTicketsForSwimlane('blocked')">
      <app-blocked-lane
        [tickets]="blockedTickets"
        (ticketClicked)="openTicket($event)"
      ></app-blocked-lane>
    </app-swimlane>

    <app-swimlane
      title="in progress"
      [tickets]="getTicketsForSwimlane('in progress')"
    >
      <app-in-progress-lane
        [tickets]="inProgressTickets"
        (ticketClicked)="openTicket($event)"
      ></app-in-progress-lane>
    </app-swimlane>

    <app-swimlane title="done" [tickets]="getTicketsForSwimlane('done')">
      <app-done-lane
        [tickets]="doneTickets"
        (ticketClicked)="openTicket($event)"
      >
      </app-done-lane>
    </app-swimlane>
  </div>
</div>
