<div class="container">
  <div class="top-row">
    <div class="collapse-search-filters">
      <app-button (buttonClicked)="openBoards()">
        <app-icon icon="faAngleRight" color="neutral-2"></app-icon>
      </app-button>
      <app-search placeholder="search"></app-search>
      <app-button (buttonClicked)="openFilters()">
        <app-icon icon="faFilter" color="neutral-2"></app-icon>
      </app-button>
    </div>

    <div class="board-title-new-board-btn">
      <div class="current-board-title">
        <h1
          class="board-title"
          *ngIf="(isEditingCurrentBoardTitle$ | async) === false"
          (click)="editBoardTitle()"
        >
          {{ (currentBoard$ | async)?.title }}
        </h1>
        <app-input
          *ngIf="isEditingCurrentBoardTitle$ | async"
          [h2]="true"
          class="textarea"
          placeholder="board title"
          [value]="(currentBoard$ | async)?.title"
          [isTextarea]="true"
          (onBlur)="saveCurrentBoardTitle($event)"
        ></app-input>
      </div>
      <app-button (buttonClicked)="addNewBoardToBoards()">
        <app-icon
          *ngIf="(isEditingCurrentBoardTitle$ | async) === false"
          icon="faPlus"
          color="neutral-2"
        ></app-icon>
      </app-button>
    </div>
  </div>

  <div class="due-date-button-filters">
    <p (click)="setIsDueTodayFilterOn()">due today</p>
    <p (click)="setIsDueTodayFilterOn()">due this week</p>
    <p (click)="setIsDueTodayFilterOn()">due this month</p>
  </div>

  <div class="open right">
    <app-ticket
      *ngIf="isTicketOpen$ | async"
      [ticket]="currentTicket$ | async"
      [tags]="currentBoardTags$ | async"
      (closeButtonClicked)="closeTicket()"
    ></app-ticket>
    <app-filters-list
      *ngIf="isFiltersListOpen$ | async"
      (closeButtonClicked)="closeFilters()"
    ></app-filters-list>
  </div>

  <div class="open">
    <app-boards-list
      *ngIf="isBoardsListOpen$ | async"
      [boards]="boards$ | async"
      (boardClicked)="changeCurrentBoard($event)"
      (closeButtonClicked)="closeBoards()"
    ></app-boards-list>
  </div>

  <div class="swimlanes-container" cdkDropListGroup>
    <app-swimlane title="backlog" [tickets]="backlogTickets$ | async">
      <app-backlog-lane
        [tickets]="backlogTickets$ | async"
        (ticketClicked)="openTicket($event)"
      >
      </app-backlog-lane>
    </app-swimlane>

    <app-swimlane title="rdy 2 start" [tickets]="rdy2StartTickets$ | async">
      <app-ready-to-start-lane
        [tickets]="rdy2StartTickets$ | async"
        (ticketClicked)="openTicket($event)"
      ></app-ready-to-start-lane>
    </app-swimlane>

    <app-swimlane title="blocked" [tickets]="blockedTickets$ | async">
      <app-blocked-lane
        [tickets]="blockedTickets$ | async"
        (ticketClicked)="openTicket($event)"
      ></app-blocked-lane>
    </app-swimlane>

    <app-swimlane title="in progress" [tickets]="inProgressTickets$ | async">
      <app-in-progress-lane
        [tickets]="inProgressTickets$ | async"
        (ticketClicked)="openTicket($event)"
      ></app-in-progress-lane>
    </app-swimlane>

    <app-swimlane title="done" [tickets]="doneTickets$ | async">
      <app-done-lane
        [tickets]="doneTickets$ | async"
        (ticketClicked)="openTicket($event)"
      >
      </app-done-lane>
    </app-swimlane>
  </div>
</div>
