.container {
  padding: 1rem;
}

.swimlanes-container {
  display: flex;
  flex-direction: row;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapse-search-filters {
  display: flex;
  flex-direction: row;
  width: 19rem;
  justify-content: space-between;
}

.board-title-new-board-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-title {
  color: var(--pink-1);
}

.open {
  position: absolute;
  top: 0.5rem;
  z-index: 1;
}

.right.open {
  right: 0.5rem;
}

.current-board-title {
  margin-right: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.due-date-button-filters {
  display: flex;
  width: 22rem;
  justify-content: space-between;
  padding-bottom: 1rem;
  color: var(--neutral-2);
  cursor: pointer;
}

.due-date-button-filter {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.delete-board {
  margin-left: 1rem;
}

.filter-active {
  background-color: var(--neutral-3);
}
