<div class="card">
  <div class="close-btn" (click)="closeTicket()">
    <app-button>
      <app-icon icon="faClose" color="neutral-2"></app-icon>
    </app-button>
  </div>

  <div class="container">
    <div class="ticket-number-container">
      <p class="ticket-number">
        <span class="ticket-number-span">{{ ticket?.ticketNumber }}</span>
      </p>
    </div>
    <h2 class="title">{{ ticket?.title }}</h2>
    <p class="description">{{ ticket?.description }}</p>
    <div class="tags">
      <app-tags [tags]="ticket?.tags"></app-tags>
    </div>
    <p class="due-date">due {{ ticket?.dueDate }}</p>
    <p class="created-date">created {{ ticket?.createdDate }}</p>
  </div>
</div>
